In [51]:
# import some library for preprocessing and visualizing the data  and saome sklearn libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [ ]:
# read the data

df=pd.read_csv("CarPrice_Assignment.csv")

In [ ]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [54]:
df.shape

(205, 26)

In [55]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [56]:
x=df.drop(['car_ID', 'CarName', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight',
        'enginesize', 'boreratio', 
       'compressionratio','price','fuelsystem'],axis=1)

In [57]:
x.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,stroke,horsepower,peakrpm,citympg,highwaympg
0,3,gas,std,two,convertible,rwd,front,dohc,four,2.68,111,5000,21,27
1,3,gas,std,two,convertible,rwd,front,dohc,four,2.68,111,5000,21,27
2,1,gas,std,two,hatchback,rwd,front,ohcv,six,3.47,154,5000,19,26
3,2,gas,std,four,sedan,fwd,front,ohc,four,3.40,102,5500,24,30
4,2,gas,std,four,sedan,4wd,front,ohc,five,3.40,115,5500,18,22

In [58]:
df["fuelsystem"].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [ ]:
# in this we convert object columns into intger column
x["fueltype"]=x["fueltype"].map({"gas":1,"diesel":2})
x["aspiration"]=x["aspiration"].map({"std":1,"turbo":2})
x["doornumber"]=x["doornumber"].map({"two":2,"four":4})
x["carbody"]=x["carbody"].map({"convertible":1,"hatchback":2,"sedan":3,"wagon":4,"hardtop":5})
x["drivewheel"]=x["drivewheel"].map({"rwd":1,"fwd":2,"4wd":3})
x["enginelocation"]=x["enginelocation"].map({"front":1,"rear":2})
x["cylindernumber"]=x["cylindernumber"].map({'four':4, 'six':6, 'five':5, 'three':3, 'twelve':12, 'two':2, 'eight':8})
x["enginetype"]=x["enginetype"].map({'dohc':1 ,'ohcv':2, 'ohc':3, 'l':4, 'rotor':5, 'ohcf':6, 'dohcv':7})

In [60]:
x.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,stroke,horsepower,peakrpm,citympg,highwaympg
0,3,1,1,2,1,1,1,1,4,2.68,111,5000,21,27
1,3,1,1,2,1,1,1,1,4,2.68,111,5000,21,27
2,1,1,1,2,2,1,1,2,6,3.47,154,5000,19,26
3,2,1,1,4,3,2,1,3,4,3.40,102,5500,24,30
4,2,1,1,4,3,3,1,3,5,3.40,115,5500,18,22

In [61]:
x.isnull().sum()

symboling         0
fueltype          0
aspiration        0
doornumber        0
carbody           0
drivewheel        0
enginelocation    0
enginetype        0
cylindernumber    0
stroke            0
horsepower        0
peakrpm           0
citympg           0
highwaympg        0
dtype: int64

In [62]:
x.shape

(205, 14)

In [ ]:
# y is for train and test the model this very usefull for model 
y=df["price"]

In [ ]:
#in this train the data 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)

In [ ]:
# use a random forest regressor model for regression problem
svc_model=RandomForestRegressor(max_depth= 20, max_features= "sqrt", min_samples_leaf= 1, min_samples_split= 2, n_estimators= 400 ,random_state=42)
pred=svc_model.fit(x_train,y_train)
y_pred=pred.predict(x_test)

In [ ]:
# checkperformance and data train and test 
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2  = r2_score(y_test, y_pred)

print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)
print("R2 Score:", r2)

Mean Squared Error (MSE): 4210659.3581118975
Mean Absolute Error (MAE): 1441.033634070295
R2 Score: 0.9474264524298135

In [71]:

import numpy as np
rmse = np.sqrt(mse)
print("RMSE:", rmse)

RMSE: 2051.989122318122

In [72]:
# this show price value
print("Min:", y.min())
print("Max:", y.max())
print("Mean:", y.mean())

Min: 5118.0
Max: 45400.0
Mean: 13276.710570731706

In [73]:
# write here i use tuning hyperparameter tuning for selecting best paras_
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [200, 400, 600],
    'max_depth': [20, 30, 40],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['sqrt', 'log2']
}

# Grid Search
grid_search = GridSearchCV(
    estimator=svc_model,
    param_grid=param_grid,
    cv=3,                # 3-fold cross-validation
    n_jobs=-1,
    verbose=2,
    scoring='neg_mean_squared_error'
)

grid_search.fit(x_train, y_train)

print("Best Parameters:", grid_search.best_params_)

Fitting 3 folds for each of 162 candidates, totalling 486 fits
Best Parameters: {'max_depth': 20, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 400}