In [ ]:
#practise fradabosting andgriendient boosting from sklearn.ensemble import GradientBoostingClassifierr
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.metrics import accuracy_score

In [70]:
df=pd.read_csv('tested.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [71]:
df.drop('PassengerId', axis=1, inplace=True, errors='ignore')

In [72]:
df.drop(['Cabin', 'Ticket'], axis=1, inplace=True, errors='ignore')

In [73]:
print(df.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [74]:
df['sex1']=df['Sex'].map({'male':1,'female':0})

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Name      418 non-null    object
 3   Sex       418 non-null    object
 4   Age       332 non-null    float64
 5   SibSp     418 non-null    int64
 6   Parch     418 non-null    int64
 7   Fare      417 non-null    float64
 8   Embarked  418 non-null    object
 9   sex1      418 non-null    int64
dtypes: float64(2), int64(5), object(3)
memory usage: 32.8+ KB

In [76]:
df.isnull().sum()

Survived     0
Pclass       0
Name         0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
sex1         0
dtype: int64

In [77]:
df.shape

(418, 10)

In [78]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Fare'].fillna(df['Fare'].mean(), inplace=True)

C:\Users\Dell 5490T\AppData\Local\Temp\ipykernel_4608\935357202.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
C:\Users\Dell 5490T\AppData\Local\Temp\ipykernel_4608\935357202.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fare'].fillna(df['Fare'].mean(), inplace=True)

In [79]:
df.describe()

,Survived,Pclass,Age,SibSp,Parch,Fare,sex1
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188,0.636364
std,0.481622,0.841838,12.634534,0.896760,0.981429,55.840500,0.481622
min,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,23.000000,0.000000,0.000000,7.895800,0.000000
50%,0.000000,3.000000,30.272590,0.000000,0.000000,14.454200,1.000000
75%,1.000000,3.000000,35.750000,1.000000,0.000000,31.500000,1.000000
max,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200,1.000000

In [80]:
df.isna().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
sex1        0
dtype: int64

In [81]:
x=df[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'sex1']]
y=df['Survived']

In [97]:
x.head()

   Pclass   Age  SibSp  Parch     Fare  sex1
0       3  34.5      0      0   7.8292     1
1       3  47.0      1      0   7.0000     0
2       2  62.0      0      0   9.6875     1
3       3  27.0      0      0   8.6625     1
4       3  22.0      1      1  12.2875     0

In [82]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [92]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(334, 6) (84, 6)
(334,) (84,)

In [94]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier( criterion='gini',)
model.fit(X_train,y_train)
train=model.predict(X_train)
test=model.predict(X_test)
print("train accuracy",accuracy_score(y_train,train))
print("test accuracy",accuracy_score(y_test,test))

train accuracy 1.0
test accuracy 1.0

In [100]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
model1=GradientBoostingClassifier(n_estimators=200,
    learning_rate=0.05,
    max_depth=2,
    random_state=42)
model1.fit(X_train,y_train)
train1=model1.predict(X_train)
test1=model1.predict(X_test)
print("train accuracy",accuracy_score(y_train,train1))
print("test accuracy",accuracy_score(y_test,test1))

train accuracy 1.0
test accuracy 1.0

In [96]:
from sklearn.ensemble import AdaBoostClassifier
model2=AdaBoostClassifier()
model2.fit(X_train,y_train)
train2=model2.predict(X_train)
test2=model2.predict(X_test)
print("train accuracy",accuracy_score(y_train,train2))          
print("test accuracy",accuracy_score(y_test,test2))

train accuracy 1.0
test accuracy 1.0

In [ ]:
def check(g):
 input=np.array([g])
 input_data_reshaped=input.reshape(1,-1)
 prediction=model1.predict(input_data_reshaped)
 print(prediction)
check([33,47.0,1,0,7.0000,0])

[1]

C:\Users\Dell 5490T\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(